VITE_SUPABASE_URL=https://rfpvhpaoaaqjuojcssdf.supabase.co
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcHZocGFvYWFxanVvamNzc2RmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTE2MDIyMywiZXhwIjoyMDc0NzM2MjIzfQ.SYPKZUUb0acUPfmK8_BAgLXIwDf1F9HcmF3kX2DKxnQ
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmcHZocGFvYWFxanVvamNzc2RmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkxNjAyMjMsImV4cCI6MjA3NDczNjIyM30.70jn2NTvu9T_nlx2s-fcqUOPFw6xNkaAQYQBIiIr7WM